body{
    background-image: url(fundo-floresta.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
div{
    background-color: aliceblue;
    margin-left: 25%;
    margin-right: 25%;
}

p, h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
}

h2{
    font-size: large;
}